.header {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #252525;
    position: relative;
    overflow: hidden;
}

.buttons button {
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    color: #252525;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 254, 254);
    font-weight: bold;
    margin-top: 10px;
}

.rocket svg {
    width: 100%;
    height: auto;
}

.rocket {
    width: 20px;
    height: auto;
    position: absolute;
    left: 0%;
    top: 40%;
    z-index: 20;
    animation-name: rocket;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rocket {
    0% {
        left: 0%;
        top: 50%;
        transform: rotate(80deg);
    }

    50% {
        left: 100%;
        top: 40%;
        transform: rotate(80deg);
    }

    51% {
        left: 100%;
        top: 40%;
        transform: rotate(-80deg);
    }

    100% {
        left: 0%;
        top: 30%;
        transform: rotate(-80deg);
    }
}

.buttons {
    position: absolute;
    z-index: 10000000;
    bottom: 5%;
    right: 10%;
    display: flex;
    flex-direction: column;
}

.space {
    position: absolute;
    background-color: #1c1c1c;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.ship-window {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
        90deg,
        #f4f4f4 0.39%,
        #f4f4f4 20.02%,
        rgba(244, 244, 244, 0) 20.03%,
        rgba(244, 244, 244, 0) 83.05%,
        #f4f4f4 83.06%,
        #f4f4f4 99.6%
    );
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship-window svg {
    width: auto;
    height: 100%;
}

.ship {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-stars {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.header-planet {
    position: absolute;
    z-index: 1;
    width: 60%;
    height: auto;
    left: -20%;
    bottom: -10%;
}

.header-astro {
    position: absolute;
    z-index: 100;
    width: 40%;
    height: auto;
    bottom: -30%;
    left: 50%;
    transition: 1s;
    transition-timing-function: ease-out;
    transform: translateX(20%);
}

.header-folder {
    position: absolute;
    z-index: 1000;
    width: 3%;
    height: auto;
    bottom: 3%;
    transition: 0.5s;
    transform: translateY(0%) translateX(-200%) scale(1);
}

.header-folder:hover {
    transform: translateY(-10%) translateX(-200%) scale(2);
}

.header-platform {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    bottom: -1%;
    left: 0%;
}

.header-content {
    flex: 1;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30%;
    z-index: 1000000;
}

.header-content h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;

    transform: scale(0);
    animation-name: headerAnimate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
}

.header-content h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: normal;
    width: 40%;
    color: white;

    transform: scale(0);
    animation-name: headerAnimate;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;
}

.shooting-star {
    position: absolute;
    left: 150%;
    top: 20%;
    height: 5px;
    width: 25px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    z-index: 0;
    border-radius: 100px;
    transform: rotate(-10deg);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.shooting-star-1 {
    animation-name: shooting-star-1;
    animation-duration: 5s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

.shooting-star-2 {
    animation-name: shooting-star-2;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.shooting-star-3 {
    animation-name: shooting-star-3;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes shooting-star-1 {
    from {
        left: -10%;
        top: 70%;
    }

    to {
        left: 150%;
        top: 30%;
    }
}

@keyframes shooting-star-2 {
    from {
        left: -10%;
        top: 50%;
    }

    to {
        left: 150%;
        top: 10%;
    }
}

@keyframes shooting-star-3 {
    from {
        left: -10%;
        top: 80%;
    }

    to {
        left: 150%;
        top: 50%;
    }
}

@keyframes headerAnimate {
    from {
        transform: scale(0) translateX(-300%);
    }

    to {
        transform: scale(1) translateX(0%);
    }
}

@media only screen and (max-width: 1000px) {
    .ship-window {
        height: 100%;
        width: auto;
    }

    .header-content h1 {
        font-size: 5rem;
    }

    .header-content h2 {
        font-size: 16px;
        width: 50%;
    }

    .header-content button {
        width: 50%;
    }

    .header-astro {
        width: 20%;
        height: auto;
        bottom: 3%;
        transform: translateX(30%);
    }

    .header-footprints {
        width: 2.5%;
        bottom: 1%;
        transform: translateX(-30%);
    }

    .header-folder {
        width: 6%;
        height: auto;
        bottom: 1%;
        transform: translateY(0%) translateX(-200%) scale(1);
    }

    .header-planet {
        width: 70%;
        top: 20%;
    }

    .header-platform {
        width: 100%;
        height: 8%;
        bottom: -1%;
        left: 0%;
    }
}

@keyframes rocketVertical {
    0% {
        left: 40%;
        top: 100%;
        transform: rotate(5deg);
    }

    50% {
        left: 50%;
        top: 0%;
        transform: rotate(5deg);
    }

    51% {
        left: 50%;
        top: 0%;
        transform: rotate(175deg);
    }

    100% {
        left: 60%;
        top: 100%;
        transform: rotate(175deg);
    }
}

/* landscape */
@media (max-width: 800px) and (max-height: 500px) and (orientation: landscape) {
    .ship-window {
        width: 150%;
        height: auto;
    }

    .header-content h1 {
        font-size: 4rem;
    }

    .header-content h2 {
        font-size: 16px;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .rocket {
        width: 20px;
        height: auto;
        position: absolute;
        left: 0%;
        top: 40%;
        z-index: 20;
        animation-name: rocketVertical;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .ship-window {
        height: 100%;
        width: auto;
    }

    .buttons button {
        font-size: 14px;
    }

    .header-content h1 {
        font-size: 4rem;
    }

    .header-content h2 {
        font-size: 16px;
        width: 90%;
    }

    .header-content button {
        width: 50%;
    }

    .header-astro {
        width: 20%;
        height: auto;
        bottom: 3%;
        transform: translateX(30%);
    }

    .header-footprints {
        width: 2.5%;
        bottom: 1%;
        transform: translateX(-30%);
    }

    .header-folder {
        width: 6%;
        height: auto;
        bottom: 1%;
        transform: translateY(0%) translateX(-200%) scale(1);
    }

    .header-planet {
        width: 120%;
        height: 100%;
        left: -80%;
        bottom: auto;
    }

    .header-platform {
        width: 100%;
        height: 8%;
        bottom: -1%;
        left: 0%;
    }
}
