.header {
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 60%;
}

.header-content h1 {
    font-size: 100px;
    color: rgb(245, 245, 245);
}

.header-content-buttons {
    display: flex;
    margin-top: 2rem;
}

.header-content-buttons button {
    padding: 1rem 3rem;
    margin-right: 20px;
    color: white;
    border-radius: 0px;
    border: none;
    font-size: 18px;
    transition: 0.5s ease-out;
}

.header-content-buttons button:first-child {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.header-content-buttons button:nth-child(2) {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.header-content-buttons button:hover {
    transform: translateY(-20%);
}

.header-content h2 {
    font-size: 20px;
    color: rgb(245, 245, 245);
    font-weight: 500;
}

.header-content svg {
    width: 100%;
    height: auto;
}

.header-planet {
    position: absolute;
    z-index: -1;
    width: 60%;
    height: auto;
    left: -20%;
    bottom: -10%;
}

@media only screen and (max-width: 600px) {
    .header-content {
        width: 90%;
    }

    .header-planet {
        width: 100%;
        left: -50%;
        bottom: 30%;
    }

    .header-content h1 {
        font-size: 5rem;
        color: rgb(245, 245, 245);
    }

    .header-content h2 {
        font-size: 16px;
        color: rgb(245, 245, 245);
        font-weight: 500;
    }

    .header-content-buttons button {
        font-size: 14px;
    }
}
