.space-between-content {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.home-header {
    margin-bottom: 10rem;
    position: relative;
}

.home-header h1 {
    font-size: 4rem;
    text-align: center;
}

.home-header a {
    color: inherit;
    text-decoration: none;
}

.home-header svg {
    width: 10%;
    height: auto;
    position: absolute;
    left: 50%;
    top: -10%;
}

.blog-flex {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

@media only screen and (max-width: 600px) {
    .home-header h1 {
        font-size: 3rem;
        text-align: center;
    }

    .blog-flex {
        flex-direction: column;
    }
}
