.space-between-content {
    margin-top: 30vh;
    margin-bottom: 20vh;
    opacity: 0;
}

.about-rocket {
    position: fixed;
    top: 50%;
    left: 0px;
    z-index: 100;
    max-width: 40%;
    height: auto;
    transform: translateY(-500%);
    animation-name: flyIn;
    animation-duration: 1s;
    animation-delay: 9s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes flyIn {
    from {
        transform: translateY(-500%);
    }

    to {
        transform: translateY(0%);
    }
}

.about-rocket-content {
    position: relative;
    display: flex;
    align-items: center;
    height: 150px;
}

.about-rocket-text {
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 2px 10px 1px #cfd0de;
    box-sizing: border-box;
    transform: scaleX(0);
    animation-name: openText;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes openText {
    from {
        transform: scaleX(0) translateX(-100%);
    }

    to {
        transform: scaleX(1) translateX(0%);
    }
}

.about-rocket-text p {
    font-size: 16px;
    margin: 5px 0px 0px 0px;
}

.about-rocket-text h1 {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
}

.about-rocket img {
    width: auto;
    height: 100%;
}

.animate-div {
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.home-header {
    margin-bottom: 10rem;
    position: relative;
}

.home-header h1 {
    font-size: 4rem;
    text-align: center;
}

.home-header a {
    color: inherit;
    text-decoration: none;
}

.home-header svg {
    width: 10%;
    height: auto;
    position: absolute;
    left: 50%;
    top: -10%;
}

.blog-flex {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

@media only screen and (max-width: 600px) {
    .home-header h1 {
        font-size: 3rem;
        text-align: center;
    }

    .blog-flex {
        flex-direction: column;
    }

    .about-rocket {
        max-width: 90%;
    }

    .about-rocket-content {
        height: 100px;
    }
}
