.nav {
    box-sizing: border-box;
    z-index: 100;
    width: 100%;
}

.trans {
    border-bottom: none;
    background-color: transparent;
    position: absolute;
    z-index: 100000;
}

.trans .nav-left svg {
    fill: rgb(255, 255, 255);
    padding: 5px;
    transition: 0.1s ease-out;
}

.trans .nav-right a {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    transition: 0.1s ease-out;
}

.trans .nav-right a:hover,
.trans .nav-left svg:hover {
    transform: translateY(-2px);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-container {
    box-sizing: border-box;
    display: flex;
    padding: 15px 0px 20px 0px;
    max-width: 1000px;
    width: 90%;
    margin: auto;
}

.nav-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav-left svg {
    height: 5rem;
    width: 5rem;
    fill: rgb(255, 255, 255);
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right a {
    font-size: 14px;
    margin-left: 5rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-right a:hover {
    transform: translateY(-2px);
    border-bottom: 2px solid rgb(255, 255, 255);
}

@media (max-width: 800px) and (max-height: 500px) and (orientation: landscape) {
    .trans {
        border-bottom: none;
        background-color: transparent;
    }

    .nav-right a {
        font-size: 12px;
        margin-left: 1rem;
    }

    .nav-left svg {
        height: 3rem;
        width: 3rem;
    }
    .nav-container {
        box-sizing: border-box;
        display: flex;
        padding: 10px 0px 10px 0px;
        max-width: 1000px;
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .nav-right {
        flex: 1;
        justify-content: space-evenly;
    }

    .nav-left {
        flex: 0.2;
    }

    .nav-right a {
        font-size: 12px;
        margin-left: 1rem;
    }

    .nav-left svg {
        height: 3rem;
        width: 3rem;
    }
}
