.blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 3rem;
    margin-top: 5rem;
}

.blog-header {
    position: relative;
    margin-top: 5rem;
}

.blog-header h1 {
    font-size: 7rem;
    text-align: center;
    color: #e5e5e5;
}

.blog-header svg {
    position: absolute;
    left: 45%;
    top: 0%;
    width: 15%;
    height: auto;
    z-index: -1;
    fill: #ffffff;
    opacity: 0.03;
}

@media only screen and (max-width: 950px) {
    .blog-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .blog-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }
    .blog-header h1 {
        font-size: 5rem;
    }
}
