.blog-item {
    width: 100%;
    height: auto;
}

.blog-item a {
    color: rgb(47, 47, 255);
    text-decoration: underline;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
}

.blog-item-img {
    position: relative;
}

.blog-item img {
    width: 100%;
    height: auto;
}

/* .blog-item-img::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    opacity: 0.2;
    left: 0;
    top: 0;
} */

.blog-item-content {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 100;
}

.blog-item-title {
    font-size: 2.5rem;
    font-family: "Noto Serif", serif;
    margin: 0 0 0 0;
    display: inline;
    text-align: left;
    background-image: linear-gradient(to right, rgb(209, 209, 209, 0.3), rgb(209, 209, 209, 0.1));
    background-position: 0 0.6em;
    background-repeat: repeat-x;
    background-size: 1px 0.8em;
    line-height: 35px;
    color: #e5e5e5;
}

.blog-item-des h4 {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    margin: 10px 0 10px 0;
    color: #e5e5e5;
    font-weight: 400;
}

.blog-item-des p {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    margin: 0 0 5px 0;
    line-height: 25px;
    color: #e5e5e5;
}

@media only screen and (max-width: 600px) {
    .blog-item-content {
        width: 80%;
        margin: auto;
    }

    .blog-item-title {
        font-size: 25px;
    }

    .blog-item-des h4 {
        font-size: 14px;
    }

    .blog-item-des p {
        font-size: 14px;
    }
}
