html,
body {
  margin: 0;
  font-size: 10px;
}

h1,
a {
  margin: 0;
  font-family: "Noto Serif", serif;
}

h2,
input,
textarea,
button {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding-bottom: 5rem;
}

.space {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: #1c1c1c;
  z-index: -1;
}

.space-stars {
  width: 100%;
  height: 100%;
}

.shooting-star {
  position: absolute;
  left: 150%;
  top: 20%;
  height: 5px;
  width: 25px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  z-index: 0;
  border-radius: 100px;
  transform: rotate(-10deg);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.shooting-star-1 {
  animation-name: shooting-star-1;
  animation-duration: 5s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}

.shooting-star-2 {
  animation-name: shooting-star-2;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.shooting-star-3 {
  animation-name: shooting-star-3;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes shooting-star-1 {
  from {
    left: -10%;
    top: 70%;
  }

  to {
    left: 150%;
    top: 30%;
  }
}

@keyframes shooting-star-2 {
  from {
    left: -10%;
    top: 50%;
  }

  to {
    left: 150%;
    top: 10%;
  }
}

@keyframes shooting-star-3 {
  from {
    left: -10%;
    top: 80%;
  }

  to {
    left: 150%;
    top: 50%;
  }
}

.page-header {
  position: relative;
  margin-top: 5rem;
}

.page-header svg {
  position: absolute;
  left: 45%;
  top: 0%;
  width: 15%;
  height: auto;
  z-index: -100;
}

.page-container {
  padding-top: 10rem;
  background-color: #fffff7;
}

.page-header h1 {
  font-size: 5rem;
  text-align: center;
}

.page-content {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 600px) {
  .container {
    padding-bottom: 2rem;
  }

  .page-container {
    width: 100%;
  }

  .page-header svg {
    width: 30%;
  }

  .page-header h1 {
    font-size: 4rem;
  }
}
