.blog-post-header {
    width: 80%;
    margin: auto;
}

.blog-post-header img {
    width: 100%;
    height: auto;
}

.blog-post-header h1 {
    font-size: 5rem;
    display: inline;
    text-align: left;
    background-image: linear-gradient(to right, rgb(209, 209, 209, 0.8), rgb(209, 209, 209, 0.3));
    background-position: 0 0.6em;
    background-repeat: repeat-x;
    background-size: 1px 0.5em;
}

.blog-post {
    width: 80%;
    text-align: left;
    margin: auto;
}

.blog-post h4,
.blog-post h3,
.blog-post p,
.blog-post li {
    font-family: "Noto Sans", sans-serif;
    text-align: left;
}

.blog-post h4,
.blog-post h3,
.blog-post p,
.blog-post li {
    color: rgba(41, 41, 41, 1);
}

.blog-post h4:first-child,
.blog-post h3:first-child {
    font-size: 2rem;
    color: rgb(169 169 169);
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 40px;
}

.blog-post h4 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

.blog-post h3 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

.blog-post p {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 40px;
    margin: 0px 0px 40px 0px;
}

.blog-post figure {
    margin: 5% 5% 10% 5%;
    font-size: 14px;
}

.blog-post figure img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 20px 2px #cfcfcf;
}

.blog-post figure figcaption {
    font-size: inherit;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    color: rgba(41, 41, 41, 1);
    margin-top: 20px;
}

.blog-post figure figcaption a {
    font-size: inherit;
    color: rgb(47, 47, 255);
    font-weight: 400;
}

.blog-post blockquote {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: rgb(180, 180, 180);
    margin: 40px;
    text-align: center;
    font-style: italic;
    overflow-wrap: anywhere;
}

.blog-post blockquote a {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: rgb(180, 180, 180);
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

.blog-post ul,
.blog-post ol {
    margin: 0px 0px 40px 0px;
    padding-inline-start: 20px;
    list-style-type: circle;
    line-height: 40px;
}

.blog-post li {
    font-size: 18px;
}

.blog-post a {
    color: rgb(47, 47, 255);
    text-decoration: underline;
    font-size: inherit;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
    .blog-post,
    .blog-post-header {
        width: 90%;
    }
    .blog-post-header h1 {
        font-size: 4rem;
    }

    .blog-post h4 {
        font-size: 20px;
    }

    .blog-post blockquote {
        font-size: 18px;
    }

    .blog-post h3 {
        font-size: 25px;
    }

    .blog-post p,
    .blog-post li {
        font-size: 16px;
    }

    .blog-post a {
        font-size: inherit;
    }

    .blog-post figure figcaption,
    .blog-post figure figcaption a {
        font-size: 12px;
    }
}
